body {
  background-color: white;
}

* {
  box-sizing: border-box;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none !important;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.jusitfy-content-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}
