<div id="head" class="d-flex justify-content-between align-items-center" style="margin-bottom: 16px;">
  <img src="@IMG_images/btn_biggo_icon@2x.png@" height="24">
  <img id="close" class="close" src="@IMG_pages/popmenu/images/nav/btn-close@2x.png@" height="36">
</div>

<div id="send-form" class="d-flex justify-content-center align-items-center flex-column" style="margin-top: 20px;">
  <div style="font-size: 18px; font-weight: bold;">
    %share_coupon_submit%
  </div>
  <div class="text-gray" style="margin-top: 12px; font-size: 15px;">
    %share_coupon_title%
  </div>

  <input id="coupon" type="text" style="margin: 12px 0" placeholder="%discount_code%">
  <input id="desc" type="text" placeholder="%share_coupon_desc%">

  <div class="d-flex justify-content-center align-items-center" style="margin-top: 15px; width: 100%">
    <div id="cancel" class="btn btn-cancel" style="flex: 1">%share_coupon_cancel%</div>
    <div id="submit" class="btn btn-unverify" style="flex: 1">%share_coupon_send%</div>
  </div>
</div>

<div id="sended" class="d-none d-flex justify-content-center align-items-center flex-column">
  <div style="font-size: 18px; font-weight: bold;">
    %share_coupon_tks%
  </div>
  <div class="text-gray" style="margin-top: 12px; font-size: 15px;">
    %share_coupon_code%
  </div>
  <div id="sended-close" class="btn btn-main w-100" style="margin-top: 25px">
    %share_coupon_done%
  </div>
  <div id="other-coupon" class="text-hint" style="font-size: 13px; cursor: pointer; margin-top: 30px">
    %share_coupon_submit_other%
  </div>
</div>