<div style="padding: 25px 15px 15px; display: flex; flex-direction: column; align-items: center;">
  <img id="store-img" src="@IMG_images/img-no-logo-default@2x.png@" style="max-height: 80px; max-width: 500px;">
  <div style="margin-top: 9px; font-weight: bold; font-size: 20px;" id="name">&nbsp;</div>
</div>

<div style="padding: 16px 30px 18px; border-bottom: #edf0f4 1px solid; border-top: #edf0f4 1px solid;">
  <div style="font-size: 16px; font-weight: bold; margin-bottom: 7px;">
    %cashback_infomation%
  </div>
  <div id="desc" class="cashback-desc">&nbsp;</div>
</div>

<div style="padding: 16px 25px 20px; display: flex; justify-content: flex-end">
  <div id="close" class="btn" style="padding: 6px 30px 5px; box-shadow: 0 5px 10px 0 rgba(36, 52, 63, 0.16);background-color: #ffffff;">
    %close%
  </div>
</div>