<div id="_biggo_float_ph_wrap">
  <div class="___biggo_sub_tip" style="transform: translateX(100%)">
    &nbsp;
  </div>

  <div id="_biggo_diff_price">
    <div id="_biggo_diff_wrap">
      <div style="display: flex; align-items: center; gap: 4px;">
        <img height="22" id="_biggo_diff_img" style="height: 22px !important; width: auto !important; background-color: transparent !important">
        <img height="22" width="22" id="_biggo_drag_loading_img" style="height: 22px !important; width: auto !important; display: none">
        <span style="font-size: 14px" id="_biggo_diff_price_text"></span>
      </div>
    </div>
    <div class="___biggo_hover_show" style="height: 34px; width: 1px; background-color: rgba(160, 174, 198, 0.3); margin: 0 4px;"></div>
    <div class="___biggo_hover_show" data-sub="0" id="_biggo_drag_sub_wrap">
      <div class="__biggo_ph_subscribe_bar_svg"></div>
    </div>
  </div>
  <div id="_biggo_drag_zone">
    <div class="_biggo_drag_kazari" style="top: 10px; left: 8px"></div>
    <div class="_biggo_drag_kazari" style="top: 10px; right: 8px"></div>
    <div class="_biggo_drag_kazari" style="top: 18px; left: 8px"></div>
    <div class="_biggo_drag_kazari" style="top: 18px; right: 8px"></div>
    <div class="_biggo_drag_kazari" style="top: 26px; left: 8px"></div>
    <div class="_biggo_drag_kazari" style="top: 26px; right: 8px"></div>
    <div class="_biggo_drag_kazari" style="top: 34px; left: 8px"></div>
    <div class="_biggo_drag_kazari" style="top: 34px; right: 8px"></div>
  </div>
</div>