<div class="main-wrap">
  <div class="main">
    <div class="head">
      <img src="@IMG_images/img_biggo_logo@2x.png@" height="30">
      <img class="close" id="biggo_close_btn" src="@IMG_images/btn_close_gray@2x.png@" height='34' alt="close">
    </div>
    <div style="display: flex; align-items: center;">
      <div class="store-img-wrap">
        <img id="biggo_ec_logo" src="@IMG_images/img-no-logo-default@2x.png@" alt="store" style="max-width: 126px; max-height: 55px;">
      </div>
      <img src="@IMG_images/img-cashback-broken@2x.png@" height="83">
    </div>
    <div class="title">%idle_may_not_track%</div>
    <div class='content'>
      <span>%idle_cashback_reason%</span>
    </div>
    <div id="biggo_goto_btn" class='check-btn' style="margin-top: 23px">
      <span id="biggo_ec_rate_desc"></span>
    </div>
  </div>
</div>